/* font-section */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* ------------------- */
.margin {
  max-width: 1140px;
  margin: 0px auto;
}
/* shared-section */
.flex {
  display: flex;
}
#color-gray {
  color: #8987a1;
}

/* navbar-section */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}
nav li {
  list-style: none;
}
nav ul {
  justify-content: space-between;
  gap: 48px;
}
nav ul a {
  text-decoration: none;
  color: #252432;
}
.home {
  font-weight: 700;
  color: #252432;
}

/* banner-section */
.banner {
  align-items: center;
}
.banner-title {
  font-size: 4rem;
  margin-bottom: 0px;
}
.title-color {
  color: #e95a08;
}
.banner-description {
  font-size: 1.4rem;
  color: #00000080;
  margin-top: 13px;
}
.banner img {
  width: 100%;
}
/* responsive for mobile */
@media screen and (max-width: 592px) {
  .navbar,
  .banner-title,
  .banner-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .navbar .hide {
    display: none;
  }
  .navbar {
    margin-bottom: 28px;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 0.9rem;
  }
}
